.nav-container {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto-Regular';
    text-transform: uppercase;
    font-size: 0.85em;
}
.mobile-sidenav, .hamburger {
    display: none;
}

.nav-container nav {
    width: 80%;
    display: flex;
    align-items: center;
}

.nav-container nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-container nav ul li {
    padding: 0 10px;
}
 .nav-container nav ul li a {
     color: white;
     text-decoration: none;
     border-bottom: 3px solid transparent;
     padding-bottom: 5px;
}

.nav-container nav ul li a:hover {
    border-bottom: 3px solid #A7F108;
}

@media only screen and (max-width: 768px) {
    .nav-container {
        display: none;
    }
    .hamburger {
        display: block;
        width: 20%;
    }
    .mobile-nav-container {
        display: flex;
    }
    .mobile-nav-container ul {
        padding: 0;
        list-style: none;
    }
    .mobile-logo-container {
        display: flex;
        justify-content: center;
        width: 80%
    }
    .mobile-logo-container img {
        width: 200px;
    }
    .mobile-sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .mobile-sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: block;
        transition: 0.3s;
      }
      
      .mobile-sidenav a:hover {
        color: #f1f1f1;
      }
      
      .mobile-sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
}
  @media screen and (max-height: 450px) {
    .mobile-sidenav {padding-top: 15px;}
    .mobile-sidenav a {font-size: 18px;}
  }