<div class="container">
    <div class="logo-section mb-30 clearfix">
      <h2 class="title text-center mt-30">OUR VALUABLE CLIENTS</h2>
      <div class="row clearfix client-logos col-12 mt-50">
        <div *ngFor="let logo of clientLogos" class="col-xs-4 col-md-2 mx-auto">
          <img  class="img-fluid mx-auto img-grayscale" src= "{{hostName +logo.media.url}}" alt="{{logo.name}}" />
      </div>
      </div>
    </div>
  </div>
