.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.pr-20 {
  padding-right: 20px;
}
.no-margin{
  margin:0;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-captialise {
  text-transform: capitalize;
}
body{
  font-family: 'Roboto-Regular';
}