
<div class="col-lg-12 register-title">
    <nav>
        <span><a routerLink='/'>Home</a></span>
    </nav>
    <h1>Create an Account</h1>
</div>


<div class="col-md-6 reg-form-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" autocomplete="off">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required >
                <mat-error *ngFor="let validation of validationMessages.name">
                    <mat-error class="error-message" *ngIf="
                    registerForm.get('name').hasError(validation.type) &&
                        (registerForm.get('name').dirty ||
                        registerForm.get('name').touched)
                      ">{{ validation.message }}</mat-error>
                  </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required >
                <mat-error *ngFor="let validation of validationMessages.email">
                    <mat-error class="error-message" *ngIf="
                    registerForm.get('email').hasError(validation.type) &&
                        (registerForm.get('email').dirty ||
                        registerForm.get('email').touched)
                      ">{{ validation.message }}</mat-error>
                  </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Mobile</mat-label>
                <input matInput placeholder="Mobile" formControlName="mobile" required >
                <mat-error *ngFor="let validation of validationMessages.mobile">
                    <mat-error class="error-message" *ngIf="
                    registerForm.get('mobile').hasError(validation.type) &&
                        (registerForm.get('mobile').dirty ||
                        registerForm.get('mobile').touched)
                      ">{{ validation.message }}</mat-error>
                  </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Company" formControlName="company" required >
                <mat-error *ngFor="let validation of validationMessages.company">
                    <mat-error class="error-message" *ngIf="
                    registerForm.get('company').hasError(validation.type) &&
                        (registerForm.get('company').dirty ||
                        registerForm.get('company').touched)
                      ">{{ validation.message }}</mat-error>
                  </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Select a size range</mat-label>
                <mat-select disableRipple formControlName="size" required>
                  <mat-option value="1-25">1-25</mat-option>
                  <mat-option value="25-50">25-50</mat-option>
                  <mat-option value="50-100">50-100</mat-option>
                  <mat-option value="100-150">100-150</mat-option>
                  <mat-option value="150-200">150-200</mat-option>
                  <mat-option value="200-300">200-300</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Commercial Registration</mat-label>
                <input matInput placeholder="Commercial Registration" formControlName="commercial" required>
                <mat-error *ngFor="let validation of validationMessages.commercial">
                    <mat-error class="error-message" *ngIf="
                    registerForm.get('commercial').hasError(validation.type) &&
                        (registerForm.get('commercial').dirty ||
                        registerForm.get('commercial').touched)
                      ">{{ validation.message }}</mat-error>
                  </mat-error>
            </mat-form-field>
        </p>
        <p>
            <button  mat-raised-button [disabled]="!registerForm.valid"  class="reg-btn" >Register</button>
        </p>
        <a class="btn-link" routerLink="/login">I already have an account. Sign In</a>
    </form>


</div>