.register-title{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
    color: currentcolor;
    background-color: var(--cx-color-background);
    a{
        color: inherit;
        padding: 5px;
    }
}
.reg-form-wrapper{
    margin: 70px auto;
    form{
        width: 300px;
        margin: 0 auto;
        .mat-form-field{
            width: 100%;
        }
       .reg-btn{
        background-color: #fe5757;
        border-color: #fe5757;
        width: 100%;
        color: #ffffff;
        font-size: 20px;
        padding: 6px;
        &:disabled{
            opacity: 0.5;
        }
        }
        .btn-link{
            font-weight: 400;
            color: #fe5757;
            font-size: 1.125rem;
            color: #212738;
            text-decoration: underline !important;
            cursor: pointer;
            display: inline-block;
    
        }
    }
}
@media only screen and (min-width: 600px) {
    form{
        width: 500px !important;
        margin: 0 auto;
    }
}