<mat-card class="col-12 saned-section-wrapper">
    <mat-card-title class="title text-center">SANED SOLUTIONS </mat-card-title>
    <ul class="domains col-12 mt-50">
        <li *ngFor="let img of images" class="col-sm-6 col-md-3 text-center">
            <a href="/">
                <img src="{{hostName +img.media.url}}">
                <p>{{img.headline}}</p>
            </a>
        </li>
    </ul>

    <div *ngFor="let logo of clientLogos" class="col-xs-4 col-md-2 mx-auto">
        <img  class="img-fluid mx-auto img-grayscale" src= "{{hostName +logo.media.url}}" alt="{{logo.name}}" />
    </div>
</mat-card>