@import "../../../../assets/css/constants.scss";
.saned-section-wrapper{
  background-color: $black;
  padding-bottom: 0;
  .title {
    position: relative;
    font-size: 34px;
    font-family: 'Roboto-Medium';
    margin: 0 auto;
    color: $white;
    &::after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 8%;
        padding-top: 15px;
        border-bottom: 4px solid $primary-color;
    }
  }
  .domains{
    display: inline-block;
    width:100%;
    padding: 0;
        li{
            float:left;
            a {
                display: inline-block;
                img{
                    width:100px;
                    height:100px;
                }
                p{
                    margin:30px 0;
                    color: $white;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }}
          
        }
    }
}