<footer class="secondary-bg footer-container color-scheme-light">
  <div class="container main-footer">
    <aside class="col-xs-12 footer-sidebar widget-area" role="complementary">
      <div class="clearfix visible-lg-block"></div>
      <div class="footer-column footer-column-2 col-md-3 col-sm-6" *ngFor="let columns of footerColumnSlot">
        <div id="text-18" class="footer-widget  footer-widget-collapse widget_text">
          <h5 class="widget-title primary-color">{{columns.name}}</h5>
          <div class="textwidget">
            <ul class="menu list-unstyled" *ngFor="let linkData of columns.components.component">
              <li><a href="{{linkData.url}}">{{linkData.linkName}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="copyrights-wrapper text-center">
    <div class="container">
      <div class="min-footer">
        <div class="copyright-text text-center">{{copyRightSlot.content}} </div>
      </div>
    </div>
  </div>
</footer>