<section class="container-fluid">
  <div class="top_header">
    <ul class="top_section_left list-unstyled no-margin">
      <li class="text-white pr-20">
        <span class="top-icon primary-color">
          <svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M13 3H7a1 1 0 00-1 1v11a1 1 0 001 1h6a1 1 0 001-1V4a1 1 0 00-1-1zM7 2a2 2 0 00-2 2v11a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7z"
              clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M10 15a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
          </svg>
        </span> {{headerLinks !== undefined ? headerLinks[0].content : ''}}</li>
      <li class="text-white">
        <span class="top-icon primary-color">
          <svg class="bi bi-envelope-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.05 5.555L10 10.414l7.95-4.859A2 2 0 0016 4H4a2 2 0 00-1.95 1.555zM18 6.697l-5.875 3.59L18 13.743V6.697zm-.168 8.108l-6.675-3.926-1.157.707-1.157-.707-6.675 3.926A2 2 0 004 16h12a2 2 0 001.832-1.195zM2 13.743l5.875-3.456L2 6.697v7.046z">
            </path>
          </svg>
        </span>
        {{headerLinks !== undefined ? headerLinks[1].content : ''}}</li>
    </ul>
    <ul class="top_section_right list-unstyled no-margin no-padding">
      <li *ngIf="!isLoggedIn"><a [routerLink]="'/login'" class="text-uppercase pr-20">Login</a></li>
      <li *ngIf="isLoggedIn"><a [routerLink]="'/'" class="text-uppercase pr-20">{{displayName}}</a></li>
      <li *ngIf="!isLoggedIn"><a class="text-uppercase" routerLink="/register">Register</a></li>
    </ul>
  </div>
</section>