@import "../../../../assets/css/constants.scss";
img {
    width: 100% !important;
}
.carousel-inner {
    margin: 0;
}
.carousel-item {
    height: 500px;
}
.carousel-indicators > .active {
    background-color: $primary-color;
}