<cx-carousal-molecule [homeContent]="homeContent"></cx-carousal-molecule>
<app-saned-section-molecule></app-saned-section-molecule>
<app-cx-client-logo></app-cx-client-logo>
<app-cx-sign-up></app-cx-sign-up>
<app-contact-us-molecule></app-contact-us-molecule>